.element {
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.element:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effet visuel supplémentaire */
}

.border-bottom {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.element:hover .border-bottom {
    background-color: #aaa;
}
